# Python virtual environment files
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Ignore all files in venv, including site-packages and binaries
venv/*
venv/**

# Ignore large binary files
*.dylib
*.so
*.dll
*.bin
*.dat
*.pkl
*.h5
*.pt
*.ckpt
*.tar.gz
*.zip
*.whl

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unstructured library cache
.cache/

# Misc
*.log
*.sqlite3
